form{
    background-color: rgba(16, 160, 204, 0.904);
    width: 50%;
    /*to center the form*/
    margin: auto;
    padding: 30px;
    border-radius:20px ;
    box-shadow: 0 0 12px gray;
}
h1{
    text-align: center;
    font-size: 40px;
    text-shadow: 8px 0 12px black;
}
label{
    font-size: 20px;
    font-family: sans-serif;
}
input[type=text],input[type=email],input[type=password],input[type=tel],input[type=date],input[type=datetime-local],select{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    box-shadow: 0 0 12px black;
    padding-left:10px ;
}
button{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 140, 255);
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}
body{
    background-image: url("../PICTURES/blue.jfif");
    background-repeat: no-repeat;
    background-size: cover;
}