h1{
    text-align: center;
    color: red;
    font-size: larger;
}
#fastshipping{
    text-decoration: underline;
    color: blue;
}
#customersupport{
    color: brown;
}
.paragraph{
    font-weight: 100px;
    font-style: italic;
}
#Membership{
    background-color: chocolate;
    margin: 50px;
    padding: 50px;
    border-radius: 15px;
    color: darkblue
}
#VIP{
    display: flex;
    margin: 40px;
    gap: 20px;
}
#Main{
    display: flex;
}
.Services{
    background-color: cornflowerblue;
    margin-right: 10px;
    border-radius: 15px;
    padding: 20px;
}
#Membership:hover{
    background-color: darkred;
    color: black;
}